-b1{
width:70%
height:100%
background-image:url('back-1.jpeg');
}
-b2{
width:70%
height:100%
background-image:url('back-2.jpeg');
}
-b3{
width:70%
height:100%
backgorund-image:url('back-3.jpeg');
}
